---
project_name: PROJECTNAME
output_dir: /cluster/projects/pughlab/projects/PROJECTNAME
sample_type: germline # optional; can be germline or ctdna
seq_type: wgs # must be one of exome, targeted, rna or wgs
seq_center: OICR
platform: Illumina
flowcell_type: random # one of random or patterned, depends on the instrument used: https://knowledge.illumina.com/instrumentation/general/instrumentation-general-faq-list/000007786
hpc_group:
# reference files
ref_type: hg38 # one of hg38, hg19, GRCh37 or GRCh38 (minimal testing with GRCh37/8)
reference: /cluster/tools/data/genomes/human/hg38/iGenomes/Sequence/WholeGenomeFasta/genome.fa
intervals_bed:
gnomad: /cluster/projects/pughlab/references/ExAC/af-only-gnomad.hg38.vcf.gz 
dbsnp: /cluster/projects/pughlab/references/dbSNP/GRCh38/b151/dbSNP_GRCh38p7_b151_common_chr.vcf.gz
cosmic: /cluster/projects/pughlab/references/COSMIC/GRCh38/v91/CosmicVariants_full_sorted_chr.vcf.gz
hapmap: /cluster/projects/pughlab/references/hapmap/hg38_population_stratified_af_hapmap_3.3.vcf.gz
# tool versions
bwa_version: 0.7.15
samtools_version: 1.9
picard_version: 2.6.0
sambamba_version: 0.7.0 
bedtools_version: 2.27.1
gatk_version: 3.8
gatk_cnv_version: 4.2.5.0 # earlier versions no longer work on H4H to call gCNVs
vcftools_version: 0.1.15
mutect_version: 1.1.5
vardict_version: 1.7.0
varscan_version: 2.4.2
strelka_version: 2.9.10
manta_version: 1.6.0
delly_version: 0.8.1
svict_version: 1.0.1
mavis_version: 2.2.5
cpsr_version: 0.6.1
pcgr_version: 0.9.1
vcf2maf_version: 1.6.17 
r_version: 4.1.0
# tool specific parameters
fastqc:
    run: Y
    parameters:
        fastqc:
            mem: 2G
            time: '24:00:00'
bwa:
    run: Y
    aligner: bwamem
    reference: /cluster/projects/pughlab/references/bwa_index/hg38/genome.fa
    parameters:
        bwa:
            mem:
                normal: 8G
                tumour: 8G
            time:
                normal: '24:00:00'
                tumour: '48:00:00'
        sort:
            mem:
                normal: 4G
                tumour: 4G
            time:
                normal: '24:00:00'
                tumour: '48:00:00'
        index:
            mem:
                normal: 2G
                tumour: 2G
            time:
                normal: '05:00:00'
                tumour: '05:00:00'
        merge:
            tool: 'picard' # or sambamba
            mark_dup: Y
            n_cpus: 1 # or more for sambamba
            java_mem:
                normal: 7g
                tumour: 11g
            mem:
                normal: 8G
                tumour: 12G
            time:
                normal: '48:00:00'
                tumour: '48:00:00'
gatk:
    run: Y
    parameters:
        target_creator:
            java_mem: 5g
            mem: 6G
            time: '48:00:00'
        realign:
            java_mem: 3g
            mem: 4G
            time: '72:00:00'
        bqsr:
            java_mem: 11g
            mem: 12G
            time:
                normal: '48:00:00'
                tumour: '72:00:00'
        recalibrate:
            java_mem: 11g
            mem: 12G
            time:
                normal: '48:00:00'
                tumour: '72:00:00'
bamqc:
    run: Y
    parameters:
        qc:
            java_mem: 3g
            mem: 4G
            time: '48:00:00'
        coverage:
            java_mem: 3g
            mem: 4G
            time: '48:00:00'
        callable_bases:
            min_depth:
                tumour: 20
                normal: 15
            mem: 4G
            time: '48:00:00'
haplotype_caller:
    run: Y
    chromosomes:
    parameters:
        haplotype_call:
            java_mem: 3g
            mem: 4G
            time: '72:00:00'
        combine_gvcfs:
            java_mem: 5g
            mem: 6G
            time: '5-00:00:00'
        genotype_gvcfs:
            java_mem: 5g
            mem: 6G
            time: '5-00:00:00'
        vqsr:
            java_mem: 7g
            mem: 8G
            time: '24:00:00'
        apply_vqsr:
            java_mem: 1g
            mem: 2G
            time: '24:00:00'
        hard_filtering:
            run: N
            java_mem: 1g
            mem: 2G
            time: '24:00:00' 
        filter_recalibrated:
            mem: 2G
            time: '24:00:00'
        run_vcf2maf: Y
        cpsr:
            known_positions: /cluster/projects/pughlab/references/CPSR/PCA_pathVar_integrated_filtered_adjusted_WITH_FANCI_hg38.tsv
            mem: 4G
            time: '24:00:00'
annotate:
    vcf2maf_path: # /cluster/projects/pughlab/bin/vcf2maf-1.6.17/vcf2maf.pl  ## provide EITHER this or vcf2maf_version above ##
    vep_path: /cluster/tools/software/centos7/vep/98
    vep_data: /cluster/projects/pughlab/references/VEP_cache/98
    filter_vcf: /cluster/projects/pughlab/references/VEP_cache/ExAC_nonTCGA.r1.sites.hg19ToHg38.vep.vcf.gz 
    buffer_size: 1000
    n_cpus: 4
    mem: 16G
    time: '12:00:00'
mutect:
    run: Y
    parameters:
        mutect:
            java_mem: 11g
            mem: 12G
            time: '4-00:00:00'
        filter:
            mem: 4G
            time: '12:00:00'
        create_pon:
            minN: 2
            java_mem: 3g
            mem: 4G
            time: '24:00:00'
mutect2:
    run: Y
    parameters:
        mutect:
            java_mem: 3g
            mem: 4G
            time: '5-00:00:00' # some WXS can take >14 days to complete if not split by chromosome
        merge:
            mem: 2G
            time: '12:00:00'
        filter:
            mem: 1G
            time: '12:00:00'
        create_pon:
            minN: 2
            java_mem: 3g
            mem: 4G
            time: '24:00:00'
manta:
    run: Y
    parameters:
        manta:
            mem: 8G
            time: '24:00:00'
strelka:
    run: Y
    parameters:
        strelka:
            mem: 8G
            time: '24:00:00'
        filter:
            mem: 2G
            time: '12:00:00'
        create_pon:
            minN: 2
            java_mem: 3g
            mem: 4G
            time: '96:00:00'
varscan:
    run: Y
    parameters:
        varscan:
            java_mem: 3g
            mem: 4G
            time: '24:00:00'
        filter:
            mem: 1G
            time: '12:00:00'
        create_pon:
            minN: 2
            java_mem: 3g
            mem: 4G
            time: '24:00:00'
vardict:
    run: Y
    intervals: /cluster/projects/pughlab/references/intervals/whole_genome_intervals/hg38_wgs_intervals_for_vardict_no_centromere.txt # only for WGS
    parameters:
        vardict:
            # vardict_wgs requires slightly higher mem (~16G) and more time (min 32 hours)
            mem: 12G
            java_mem: 11g
            time: '12:00:00'
        test_somatic:
            mem: 16G
            time: '24:00:00'
        filter:
            mem: 1G
            time: '12:00:00'
        create_pon:
            minN: 2
            java_mem: 3g
            mem: 4G
            time: '24:00:00'
gatk_cnv:
    run: Y
    chromosomes:
    parameters:
        readcounts:
            mem: 1G
            time: '12:00:00'
        create_pon:
            java_mem: 5g
            mem: 6G
            time: '24:00:00'
        denoise:
            java_mem: 7g
            mem: 8G
            time: '24:00:00'
        allele_counts:
            java_mem: 7g
            mem: 8G
            time: '24:00:00'
        model:
            java_mem: 3g
            mem: 4G
            time: '24:00:00'
delly:
    run: Y
    parameters:
        call:
            mem: 8G
            time: '72:00:00'
        genotype:
            mem: 6G
            time: '48:00:00'
        merge:
            mem: 2G
            time: '24:00:00'
        filter:
            mem: 2G
            time: '12:00:00'
svict:
    run: N # only for ctDNA (targeted panel)
    parameters:
        svict:
            mem: 16G
            time: '24:00:00'
mavis:
    run: Y
    mem: 4G # increase this is patient has multiple tumours and/or many SV callers were run
    mavis_mem_limit: # in Mb, default is 16000; increase if individual steps are running out of memory
    mavis_time_limit: # in seconds, default is 57600 ; increase if individual steps are running out of time
    mavis_max_jobs: # maximum number of jobs to submit at a time; decrease if hitting slurm job cap
#    mavis_queue: # if the above mavis_mem_limit or mavis_time_limit require a non-default queue/partition
    mavis_annotations: /cluster/projects/pughlab/references/MAVIS_ref/ensembl79_hg38_annotations.json
    mavis_masking: /cluster/projects/pughlab/references/MAVIS_ref/GRCh38_masking.tab
    mavis_dgv_anno: /cluster/projects/pughlab/references/MAVIS_ref/dgv_hg38_variants.tab
    mavis_cytoband: /cluster/projects/pughlab/references/MAVIS_ref/cytoBand.txt
    mavis_draw_fusions_only: false
    mavis_aligner: 'bwa mem'
summarize_steps:
    lib_path: '/cluster/projects/pughlab/src/r_lib/library/4.1/'
    run_cosmic_sbs: Y
    run_mutsig: Y
    run_chord: N
    run_hrdetect: N
